.home-container{
	display: grid;
	grid-template-columns: repeat(10, 200px);
	grid-template-rows:repeat(8, 150px);
	grid-gap: 10px;
/*	position: fixed;
	left: 0px;
	top: 20px;*/
}

.garden {
	border: 2px solid white;
	padding: 10px;
}

.flower {
  position: absolute;
}

.garden-container {
  height: 90%;
  position: relative;
}