span {
	margin-right: 30px;
}

a {
	text-decoration: none;
	color: inherit;
}

.nav {
	height: 30px;
	padding: 5px;
	position: fixed;
	width: 100%;
}

.pageContainer{
	position: absolute;
	top: 50px;
}